{% extends 'base.html' %}
{% block content %}
<h1> Registro </h1>

{%if error%}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error</strong> {{error}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%endif%}

<form method= 'POST'> 
    {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Nombre de usuario</label>
          <input class="form-control" id="username" aria-describedby="usernameHelp" name="username" required="True">
          <div id="usernameHelp" class="form-text">Ingrese su nombre de usuario</div>
        </div>
        <div class="mb-3">
          <label for="password1" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password1" name="password1" required="True">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirma tu Contraseña</label>
            <input type="password" class="form-control" id="password2" name="password2" required="True">
          </div>
        <button type="submit" class="btn btn-primary">Registrar</button>      
</form>
{% endblock content %}
